
<!DOCTYPE html>
<html lang="es">

    <head>
        <meta charset="utf-8"/><script type="text/javascript"> </script>
        <link href="static/css/IOT-IndexStyle.css" rel="stylesheet" type="text/css"/>
        <title>Medical Cloud Services</title>
    </head>

    <body>
        <div id="container">
            <a href="/"> IOT Medical Cloud </a> | <a href="Inicio"> Inicio </a> | <a href="Ingresar"> Ingresar </a> | <a href="Registrarse"> Registrarse </a> | <a href="HistorialClinico"> Historial Clinico </a>

            <h1>¡Bienvenidos a IOT Medical Cloud!</h1>
            <div>
                <p>Escoja <b>Registrarse</b> Si es un médico nuevo en el hospital</p>
                <p>Escoja <b>Ingresar</b> Si ya es un médico registrado en un hospital</p>
                <p>Escoja <b>Inicio</b> Para ir al inicio de la plataforma</p>
                <p>Escoja <b>Historial Clinico</b> Para acceder al registro de los pacientes</p>
            </div>
        </div>
    </body>
</html>